In [2]:


import pandas as pd
import sklearn.feature_extraction as fe
import os

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kaitlyn\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
# list(fe.text.ENGLISH_STOP_WORDS)

In [2]:
original_directory = os.getcwd()
os.chdir("../../data/raw")
os.listdir()

['20News_coarse.pkl',
 '20News_seedwords.json',
 'nyt_coarse.pkl',
 'nyt_seedwords.json']

In [3]:
# read data

with open("nyt_coarse.pkl", "rb") as fp:
    data_nyt = pickle.load(fp)
with open("20News_coarse.pkl", "rb") as fp:
    data_20news = pickle.load(fp)
    
with open("nyt_seedwords.json") as fp:
    seed_nyt = json.load(fp)
with open("20News_seedwords.json") as fp:
    seed_20news = json.load(fp)

In [4]:
data_nyt.head()

                                            sentence    label
0  nasa, in preparation for a spacewalk on saturd...  science
1  if professional pride and strong defiance can ...   sports
2  admittedly, the language is reconstructed and ...     arts
3  palermo, sicily — roberta vinci beat top-seede...   sports
4  the argentine soccer club san lorenzo complete...   sports

In [5]:
data_20news.head() #newline characters visible

                                            sentence label
0  from:  (where's my thing)\nsubject: what car i...   rec
1  from:  (guy kuo)\nsubject: si clock poll - fin...  comp
2  from:  (thomas e willis)\nsubject: pb question...  comp
3  from: jgreen@amber (joe green)\nsubject: re: w...  comp
4  from:  (jonathan mcdowell)\nsubject: re: shutt...   sci

In [6]:
seed_nyt #same format as 20News seed words

{'arts': ['music', 'orchestra', 'album', 'opera', 'ballet'],
 'business': ['companies', 'euro', 'economy', 'batteries', 'sales'],
 'science': ['space', 'researchers', 'scientists', 'research', 'science'],
 'sports': ['yankees', 'cup', 'league', 'basketball', 'golf'],
 'politics': ['republicans', 'senator', 'senate', 'democrats', 'election']}

# TF-IDF

## NYT

IR-TF-IDF treats the seed word set for each class as a query. The relevance of a document to a label is computed by aggregated TF-IDF values of its respective seed words. The label with the highest relevance is assigned to each document.

In [7]:
# ir-tf-idf replication

# intialize vectorizer
tfidf_model = fe.text.TfidfVectorizer(input="content", stop_words=stopwords)
tfidf_vector = tfidf_model.fit_transform(data_nyt["sentence"])

In [8]:
tfidf_vector

<11527x75710 sparse matrix of type '<class 'numpy.float64'>'
	with 2944740 stored elements in Compressed Sparse Row format>