In [1]:
pip install --user gensim

Requirement already satisfied: gensim in /home/k6chan/.local/lib/python3.9/site-packages (4.2.0)
Requirement already satisfied: smart-open>=1.8.1 in /home/k6chan/.local/lib/python3.9/site-packages (from gensim) (6.2.0)
Requirement already satisfied: numpy>=1.17.0 in /opt/conda/lib/python3.9/site-packages (from gensim) (1.19.5)
Requirement already satisfied: scipy>=0.18.1 in /opt/conda/lib/python3.9/site-packages (from gensim) (1.7.0)
Note: you may need to restart the kernel to use updated packages.

In [60]:
import pandas as pd
import sklearn.feature_extraction as fe
# import sklearn.metrics as m
from gensim.models import Word2Vec
from score_F1 import score_F1
import string
import numpy as np

#
import pickle
import json
import os

Notebook-only

In [3]:
#
original_directory = os.getcwd()
os.chdir("../../data/raw")
os.listdir()

['20News_coarse.pkl',
 'nyt_seedwords.json',
 '20News_seedwords.json',
 'nyt_coarse.pkl']

In [4]:
# read data

#
with open("nyt_coarse.pkl", "rb") as fp:
    data_nyt = pickle.load(fp)
with open("20News_coarse.pkl", "rb") as fp:
    data_20news = pickle.load(fp)
    
with open("nyt_seedwords.json") as fp:
    seed_nyt = json.load(fp)
with open("20News_seedwords.json") as fp:
    seed_20news = json.load(fp)

In [5]:
#
data_nyt.head()
# data_nyt.iloc[0]["sentence"]

                                            sentence    label
0  nasa, in preparation for a spacewalk on saturd...  science
1  if professional pride and strong defiance can ...   sports
2  admittedly, the language is reconstructed and ...     arts
3  palermo, sicily — roberta vinci beat top-seede...   sports
4  the argentine soccer club san lorenzo complete...   sports

In [6]:
#
data_20news.head() #newline characters visible

                                            sentence label
0  from:  (where's my thing)\nsubject: what car i...   rec
1  from:  (guy kuo)\nsubject: si clock poll - fin...  comp
2  from:  (thomas e willis)\nsubject: pb question...  comp
3  from: jgreen@amber (joe green)\nsubject: re: w...  comp
4  from:  (jonathan mcdowell)\nsubject: re: shutt...   sci

In [7]:
#
seed_nyt #same format as 20News seed words

{'arts': ['music', 'orchestra', 'album', 'opera', 'ballet'],
 'business': ['companies', 'euro', 'economy', 'batteries', 'sales'],
 'science': ['space', 'researchers', 'scientists', 'research', 'science'],
 'sports': ['yankees', 'cup', 'league', 'basketball', 'golf'],
 'politics': ['republicans', 'senator', 'senate', 'democrats', 'election']}

In [8]:
seed_20news

{'alt': ['atheism', 'atheists', 'religion', 'objective'],
 'comp': ['graphics', 'windows', 'scsi', 'mac'],
 'misc': ['sale', 'offer', 'shipping', 'forsale'],
 'rec': ['car', 'bike', 'game', 'team'],
 'sci': ['encryption', 'circuit', 'candida', 'space'],
 'talk': ['turkish', 'gun', 'jews', 'armenian'],
 'soc': ['church', 'jesus', 'christ', 'christians']}

# Word2Vec

In [28]:
punctuation = set(string.punctuation)
stopwords = set(fe.text.ENGLISH_STOP_WORDS)

In [65]:
def word2vec(data, seeds):
    '''
    Return a DataFrame of the input with predicted labels using Word2Vec
    
    :param: data: a DataFrame with a "sentence" attribute
    :param: seeds: a dictionary of labels (keys) with a list of seed words (values)
    '''
    #reverse seeds dictionary
    genres = {}
    for genre,seed_words in seeds.items():
        for seed_word in seed_words:
            genres[seed_word] = genre
            
    data_ind = data.reset_index()
    
    #tokenize
    def tokenize(sentence):
        tokens = [w for w in (''.join([c for c in sentence.lower() if c not in punctuation]).split()) if w not in stopwords]
        return tokens
    
    data_tokens = []
    for row in data_ind.iterrows():
        data_tokens.append(tokenize(row[1]["sentence"]))

    model = Word2Vec(data_tokens)
    
    label_reps = {}
    for label in seeds:
        vectors = []
        for seed_word in seeds[label]:
            if seed_word not in model.wv:
                continue
            vectors.append(model.wv[seed_word])
        label_rep = np.sum(vectors, axis=0)
        label_reps[label] = label_rep
    
    return label_reps

In [66]:
word2vec_nyt = word2vec(data_nyt, seed_nyt)
word2vec_nyt

{'arts': array([ -5.7669477 ,   5.361135  ,   4.2986493 ,   4.869911  ,
          2.01153   ,   2.7725165 ,   5.27667   ,  11.943637  ,
         -2.725659  ,   4.598207  ,   2.4685156 ,  -6.345398  ,
         -1.408405  ,  -1.0468535 ,  -3.3368104 ,   2.1568184 ,
          2.3560781 ,   4.4626126 ,  -9.068302  ,  -6.019559  ,
          0.58520937,  -0.33565342,   7.9704657 ,  -2.4937596 ,
          4.717835  ,   1.7568325 ,   5.3093195 ,  -2.0466616 ,
          4.2310047 ,   9.517244  ,  -0.23730284,   1.5388503 ,
          1.6963158 ,  -4.2182107 ,  -1.462341  ,   7.1488028 ,
          7.576909  ,   3.2525191 ,  -2.5906966 ,  -3.7959447 ,
          3.3702004 ,  -0.32884732,   3.6870286 , -10.86172   ,
         -5.721646  ,   5.659712  ,  -4.9779553 ,   5.3889146 ,
          1.812465  ,   6.703001  ,  -2.857533  ,  -5.508524  ,
         -3.3513384 ,   1.5741577 ,  -6.677045  ,  -6.4551735 ,
          6.4733906 ,   5.850195  ,   2.8194864 ,  -0.14998627,
         -4.340201  ,   6.3530574 ,   4.2787576 ,   2.4344132 ,
         -2.4173474 ,  -9.564821  ,  -1.5003959 ,   4.479946  ,
         -2.4782662 ,   3.3965282 ,  -4.2247386 ,  -2.9637475 ,
          2.6604934 ,  -0.99111867,   3.8195155 ,  -7.874773  ,
          3.874443  ,   3.9412262 ,  -7.78629   ,   0.606534  ,
          4.8443694 , -10.565476  ,   3.3840804 ,  -3.625953  ,
         -2.2080488 ,  -4.2613564 ,  -0.6279203 ,  -0.6196098 ,
        -12.294148  , -13.037514  ,   5.098579  ,   7.1161017 ,
         -8.2574215 ,  11.064466  ,  -2.1875243 ,   5.837393  ,
          5.6496716 ,  -7.385724  ,   1.7294064 ,   4.257495  ],
       dtype=float32),
 'business': array([ 3.1667075e+00,  4.4960876e+00,  2.8976834e+00,  8.7119877e-01,
         1.9649186e+00, -5.0929189e+00, -8.7858572e+00,  6.2817578e+00,
        -2.9765878e+00, -8.5323019e+00,  7.1659603e+00, -2.5438181e-01,
         5.3405848e+00, -3.2958641e+00,  3.6095984e+00, -2.9070530e+00,
        -6.4326849e+00,  4.7199726e-02,  2.4884760e+00, -3.7376499e+00,
        -2.5053935e+00,  5.0639021e-01,  1.0032537e+01, -4.4416192e-01,
        -1.1294767e+00,  4.0355711e+00, -4.2937918e+00, -6.5326457e+00,
         6.1821132e+00,  4.0843234e+00,  3.5738230e-01,  3.7436693e+00,
         5.7799635e+00,  8.9263856e-01, -2.4317105e+00,  1.9336510e-01,
         2.6157565e+00,  3.5375941e+00,  2.4873857e+00, -4.3954864e+00,
         4.8513460e+00, -3.9276352e+00,  3.4815674e+00,  8.0219609e-01,
         5.2661431e-01, -3.9020543e+00,  2.0271301e+00, -5.9388323e+00,
         5.4031243e+00,  1.2066846e+00, -9.2172508e+00,  4.7299891e+00,
        -3.5982323e+00, -3.0890369e+00,  9.2820692e+00, -1.1007592e-01,
         7.1305871e-01,  8.2199097e-02,  1.4667914e+00, -2.5110705e+00,
        -5.9207573e+00,  9.8045883e+00,  4.5438747e+00,  8.6050528e-01,
        -9.1882362e+00, -1.7012594e+00,  4.5880124e-01, -4.3089714e+00,
        -6.1864376e+00,  3.8791649e+00, -7.7726543e-02, -3.0135233e+00,
         8.4243526e+00, -3.9641395e+00, -4.8385672e-02,  3.5518670e+00,
         3.4419026e+00, -4.3416519e+00, -9.0356865e+00, -3.3482420e-01,
         4.1634727e+00,  1.6520305e+00, -4.5470004e+00,  4.1043396e+00,
        -6.9644074e+00, -8.2096949e+00,  5.8754721e+00,  1.0917129e+01,
         4.2432475e+00,  1.1689281e+00, -2.9334576e+00,  5.9091439e+00,
        -3.1843891e+00,  3.4537687e+00,  1.1045731e+00,  1.5632124e+00,
        -1.5510507e-03, -6.1293979e+00,  3.1832604e+00,  2.6137080e+00],
       dtype=float32),
 'science': array([-4.6637774 ,  2.8252406 ,  3.6619837 ,  1.1382354 ,  0.6901419 ,
        -2.6758761 , -6.798858  ,  6.4025555 , -2.3256917 , -5.2922387 ,
         0.2734899 , -2.0340123 ,  2.7213492 , -1.3053901 , -0.15816152,
        -0.13346143,  0.37747982, -4.8996453 ,  0.7184565 , -4.5514812 ,
        -1.8610897 ,  2.6431794 ,  7.439527  ,  0.36666554,  0.03349364,
         1.3641548 , -1.7390316 , -3.1431801 ,  3.3794603 ,  1.5158801 ,
         3.5914907 ,  6.7276707 , -2.7630415 ,  1.4300779 ,  0.14295453,
        -0.03993889,  2.2887669 , -1.0927613 , -1.7997913 , -1.9613335 ,
         4.127783  , -1.2916576 , -2.7887192 , -4.8379154 ,  0.27863356,
         1.4367228 , -4.1298065 ,  3.6554487 ,  0.79673564,  1.5476632 ,
        -3.2131877 ,  3.1942046 , -2.3759086 ,  1.1531508 ,  0.805578  ,
        -0.7099907 ,  0.8543074 ,  0.8591348 , -0.07866305,  0.39591295,
        -2.0066566 ,  7.1236835 , -0.6469513 ,  1.2743946 , -5.1101403 ,
        -4.402613  , -1.3159194 , -0.9719459 ,  0.09767729,  3.3286896 ,
        -5.183626  , -2.7942264 ,  3.655983  , -1.2387357 , -0.5531874 ,
        -1.0713207 ,  2.142406  , -0.85509133, -2.9938614 , -0.3387657 ,
         1.9786599 , -2.5429413 , -2.098566  ,  1.1604937 , -4.484589  ,
        -3.9601154 ,  1.6748333 ,  2.292175  ,  0.7627873 , -2.486467  ,
        -0.5312609 ,  1.6695286 , -0.4068641 ,  1.8753703 ,  0.6434999 ,
         5.2997403 ,  1.8097813 , -4.6354036 , -0.77513385,  3.2284596 ],
       dtype=float32),
 'sports': array([ 2.4268165e+00, -5.5010872e+00, -7.2293830e-01,  1.1663144e+01,
        -2.4641807e+00,  5.6478429e+00,  5.4248199e+00, -2.2697544e+00,
         4.5511031e+00, -7.8542266e+00,  1.8955386e+00, -5.3852358e+00,
        -7.2818770e+00,  5.1260886e+00,  1.2130746e+00,  5.5393190e+00,
        -3.0535274e+00, -1.0531455e+00, -1.9513545e+00,  2.8581123e+00,
        -1.1537155e+01,  5.8598714e+00, -6.9420872e+00,  2.3204784e+00,
         1.3110964e+00,  5.6343536e+00, -3.1967697e+00, -1.2690397e+01,
        -6.6767612e+00,  4.5048237e+00, -2.6438124e+00, -5.8320862e-01,
        -3.1422246e+00, -2.7581458e+00, -2.6151881e+00,  6.8088927e+00,
        -6.6312971e+00, -8.4674129e+00,  4.9617906e+00, -5.6012344e+00,
         4.6400952e+00, -3.3433275e+00, -4.3115072e+00,  3.6143878e+00,
         3.8106260e+00, -5.5125318e+00, -3.9982307e+00, -7.5556450e+00,
         3.1809530e+00,  7.0531473e+00, -7.8730232e-01, -9.6263351e+00,
        -6.1998525e+00,  2.7161951e+00,  4.0815001e+00,  2.2536392e+00,
         1.8054304e+00, -5.8078189e+00,  3.0432951e+00,  1.9960684e+00,
        -3.2877111e+00, -5.4571700e-01,  2.4508533e+00,  1.9197007e+00,
         4.4674931e+00,  6.0537572e+00,  7.0513612e-01,  4.9746828e+00,
        -5.5127678e+00, -1.6768106e+00, -2.1975889e+00,  2.4285247e+00,
         1.2396934e+00, -5.6429081e+00,  1.4311324e+00,  5.6119423e+00,
        -4.3058910e+00,  7.5872707e+00, -2.5469098e+00, -2.5507820e+00,
         3.5841589e+00, -2.2502880e+00,  1.5226557e+00,  3.2181625e+00,
         1.5361075e+00, -1.2507115e-01,  1.0760728e+00,  1.0110545e-01,
        -1.9886957e+00,  5.3703117e+00, -3.2995343e+00, -4.4871578e+00,
        -1.7962655e+00,  9.3069744e+00,  5.9105930e+00, -8.7273145e-01,
         4.8291330e+00,  1.8944274e+00,  3.5463696e+00,  1.0073662e-02],
       dtype=float32),
 'politics': array([-6.9576058e+00,  3.9267387e+00, -8.7050886e+00,  3.3715975e+00,
         8.9182019e-01, -3.6146426e+00, -4.6442251e+00,  8.0800829e+00,
         4.5387712e-01, -1.4213557e+00,  2.7630754e+00,  4.9766884e+00,
         3.6842687e+00, -8.5201921e+00,  2.7304673e-01, -6.2348609e+00,
         4.0080204e+00, -1.0151811e+01, -9.3992555e-01, -7.3210282e+00,
        -5.3777695e-03,  7.1879494e-01,  3.8588886e+00,  2.5443792e+00,
        -4.9608642e-01, -4.5681739e+00, -2.5847309e+00, -5.1163921e+00,
         7.7353573e-01, -5.4154797e+00,  2.0486626e-01,  9.0266514e+00,
         2.1158001e+00, -1.0699062e+00,  5.0313745e+00,  4.2439618e+00,
        -1.0769305e+00, -1.8669283e+00,  8.2008594e-01,  2.5955671e-01,
         2.1862447e+00,  1.0316650e+00, -1.6662254e+00, -3.6945243e+00,
         7.3823290e+00, -1.0616274e+00, -9.7930181e-01, -2.2050636e+00,
         4.3117875e-01, -1.3615071e+00, -4.1801491e+00,  3.7966349e+00,
        -3.5337367e+00,  4.4215674e+00,  1.3329858e+00, -1.5975839e+00,
        -4.8103493e-01,  7.0838332e-02, -8.3116941e+00, -1.9551021e+00,
        -1.7482973e+00,  9.1943283e+00,  9.3182355e-01,  2.5669461e-01,
        -8.9793911e+00, -3.1818523e+00, -1.3802807e+00,  2.5073442e+00,
         6.3205714e+00,  4.0201740e+00,  5.4280787e+00,  5.8623064e-01,
         1.8660711e+00, -7.8145665e-01,  1.1005498e+00,  2.1795459e-01,
        -1.0183583e+00, -9.2608557e+00, -2.5856977e+00, -3.0722055e+00,
        -3.1536922e+00, -1.5507995e-01, -7.6205177e+00,  4.1607137e+00,
        -8.8865414e+00, -1.1702563e+00, -5.3149432e-01,  7.8159056e+00,
         3.3200452e-01, -1.7391320e+00, -1.4142492e+00,  2.1534142e+00,
         7.1910825e+00,  5.0106096e+00,  1.1500514e+00,  6.7026224e+00,
        -1.5158355e-02, -1.2316517e+01, -6.2422109e-01,  3.8391223e+00],
       dtype=float32)}

In [16]:
data_20news

                                                sentence label
0      from:  (where's my thing)\nsubject: what car i...   rec
1      from:  (guy kuo)\nsubject: si clock poll - fin...  comp
2      from:  (thomas e willis)\nsubject: pb question...  comp
3      from: jgreen@amber (joe green)\nsubject: re: w...  comp
4      from:  (jonathan mcdowell)\nsubject: re: shutt...   sci
...                                                  ...   ...
18254  from:  (stupendous man)\nsubject: re: temperat...   sci
18255  from:  (jim smyton)\nsubject: re: monitors - s...  comp
18256  from: \nsubject: re: game length (was re: brav...   rec
18257  from:  \nsubject: intel chmos 8086/8088 design...  misc
18258  from: \nsubject: re: homosexuality issues in c...   soc

[18259 rows x 2 columns]

# TF-IDF

## NYT

IR-TF-IDF treats the seed word set for each class as a query. The relevance of a document to a label is computed by aggregated TF-IDF values of its respective seed words. The label with the highest relevance is assigned to each document.

In [7]:
# genres_nyt = {}
# for genre,seed_words in seed_nyt.items():
#     for seed_word in seed_words:
#         genres_nyt[seed_word] = genre
        
# genres_nyt

In [8]:
# ir-tf-idf replication

# intialize vectorizer
# tfidf_model = fe.text.TfidfVectorizer(input="content", stop_words = {'english'})
# tfidf_vector = tfidf_model.fit_transform(data_nyt["sentence"])

In [9]:
#get vector with
# filtered = list(filter(lambda item: item[1] in genres_nyt, zip(tfidf_vector[0].toarray()[0].tolist(),tfidf_model.get_feature_names_out())))

In [10]:
# list(filtered)
# label_test = max(filtered, key=lambda item: item[0])
# label_test[1]

In [11]:
# nyt_tfidf = dict(zip(tfidf_model.get_feature_names_out()[i],tfidf_vector[].toarray()[0].tolist()[i]) for i in range(
#     len(tfidf_model.get_feature_names_out())))
# nyt_tfidf

In [12]:
# tfidf_model.get_feature_names_out()

In [41]:
def ir_tfidf(data, seeds):
    '''
    Return a DataFrame of the input with predicted labels using IR-TF-IDF
    
    :param: data: a DataFrame with "sentence" and "label" attributes
    :param: seeds: a dictionary of labels (keys) with a list of seed words (values)
    '''
    #reverse seeds dictionary
    genres = {}
    for genre,seed_words in seeds.items():
        for seed_word in seed_words:
            genres[seed_word] = genre
            
    data_ind = data.reset_index()
            
    model = fe.text.TfidfVectorizer(input="content", stop_words = {'english'})
    vector = model.fit_transform(data["sentence"])
    features = model.get_feature_names() #ADD _OUT FOR RECENT SKLEARN VERSION
    
    def predict(ind):
        filtered = filter(lambda item: item[1] in genres, zip(vector[ind].toarray()[0].tolist(),features))
        prediction = max(filtered, key=lambda item: item[0])
        return genres[prediction[1]]
    
    df = data_ind.assign(prediction = data_ind["index"].apply(predict))
    return df

In [18]:
# tfidf_nyt = ir_tfidf(data_nyt,seed_nyt)

In [19]:
# tfidf_nyt

,index,sentence,label,prediction
0,0,"nasa, in preparation for a spacewalk on saturd...",science,science
1,1,if professional pride and strong defiance can ...,sports,sports
2,2,"admittedly, the language is reconstructed and ...",arts,arts
3,3,"palermo, sicily — roberta vinci beat top-seede...",sports,arts
4,4,the argentine soccer club san lorenzo complete...,sports,sports
...,...,...,...,...
11522,11522,"melbourne, australia — after the tears and the...",sports,arts
11523,11523,"perth, australia — wimbledon semifinalist jerz...",sports,sports
11524,11524,while the nets are hoisting no. 5 to the barcl...,sports,sports
11525,11525,sydney — tennis australia chief executive stev...,sports,arts
11526,11526,stephen watts is the president of sap asia pac...,business,arts

In [10]:
# def score_F1(labels, predictions, averaging="micro"):
#     '''
#     Returns the micro F1 score given a list of labels and a list of predictions
    
#     :param: labels: a list of labels
#     :param: predictions: a list of predictions
#     :param: averaging: type of averaging method to use
#     '''
#     score = m.f1_score(labels, predictions, average=averaging)
#     return score

In [34]:
# micro_nyt_tfidf = score_F1(tfidf_nyt["label"], tfidf_nyt["prediction"], "micro")
# macro_nyt_tfidf = score_F1(tfidf_nyt["label"], tfidf_nyt["prediction"], "macro")

In [35]:
# micro_nyt_tfidf

0.6361585841936324

In [36]:
# macro_nyt_tfidf

0.49765851868243194

In [ ]:
# tfidf_20News = ir_tfidf(data_20news,seed_20news)

In [ ]:
# tfidf_20News